#video{
    grid-area: a;
    height: 70vh;
    width: 95%;

}

#playlist{
    grid-area: b;
    height: 100vh;
}

#description{
    grid-area: c;
    height: 30vh;
    width: 100%;

}


.container-grid{
    display: grid;
    gap: 5px;
    margin-top: 5em;
    grid-template-areas:
    "a . b"
    ". . b"
    "c . b";
    width: 100%;
    height: 50%;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}

.video-container2{
    margin: 2em 0 1em 2em;    

}

.playlist{
    margin: 2em 2em 0 0;
}

.description{
    margin: 0.25em 2em;
}

/* Player do vídeo */

.player-video{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.player-video video{
    width: 100%;
    height: 100%;
    top: 0;

}

.video-controls{
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
}

.video-controls .video-btn{
    display: block;
    width: 40px;
    height: 90%;
    margin: 0 5px;
    cursor: pointer;
}

.video-controls .video-play{
    background: url(../img/ico-play.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}

.video-controls .video-next{
    background: url(../img/ico-next.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}

.video-controls .video-volume{
    background: url(../img/ico-sound.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}

.video-controls .video-fullscreen{
    background: url(../img/ico-fullscreen.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}

.video-controls .video-time{
    color: #FFFFFF;
    padding-top: 1.25em;
}

/* Playlist */

.playlist{
    margin-right: 4em;
}

.playlist-capa{
    grid-area: capa;
}

.playlist-capa img{
    width: 168px;
    border-radius: 8px;
}

.playlist-canal{
    font-size: 14px;
    color: #5f5f5f93;
    padding-top: 0.5em;
}

.playlist-titulo{
    grid-area: titulo;

}

.playlist-canal{
    grid-area: canal;

}


.playlist-box{
    display: grid;
    grid-template-areas: 
    "capa capa titulo"
    "capa capa canal"
    "capa capa .";

}





